<%
var mapaTematico = {
  otro:"Otro",
  humanidades:"Humanidades",
  ocio:"Ocio",
  ciencia:"Ciencia",
  tecnologia:"Tecnología"
}
%>

<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Temática: <%= mapaTematico[quiz.tema] %><br />
  Pregunta: <%= quiz.pregunta %><br />
  <input type="text" name="respuesta" value="Responda aquí" />
  <input type="submit" value="Enviar" />
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<p><strong>Comentarios:</strong></p>

<%for(index in quiz.Comments){%>
      <%if (quiz.Comments[index].publicado || session.user){%>
		      <p>-<%= quiz.Comments[index].texto %>
            <%if (session.user && !quiz.comments[index].publicado){%>
                <a href ="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id %>/publish"><button> Publicar </button></a>
            <%}%>
           </p>
       <%}%> 
 <%}%>
	